/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.body{
	background-color: #fffff;
}

.banner{
	background-image: url("resources/images/banner2.png");
	background-repeat: no-repeat;
	padding: 10px;
	font-weight: bolder;
	font-size: 50pt;
}
.gwt-TabPanel{
	background-color: #1C7887;
}
.gwt-TabBar{
	background-color: #E1E9DC;
}

.gwt-TabBottom{
	background-color: #1C7887;
	height: 600px;
}

.gwt-TabBarItem {
  height: 20px;
  cursor: pointer;
  background-color: #fff;
  margin-right: 2px;
}

.gwt-TabBarItem-selected {
  padding: 4px;
  background-color: #000000;
  margin-right: 2px;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #878787;
  background-color: #fff;
}
.gwt-Label{
	height: 20px;
	width: 120px;
	color: #E1E9DC;
	margin-left: 10px;
	margin-bottom: 10px;
	font-size: 11pt;
}

.TitleLabel{
	font-weight: bold;
	height: 20px;
	width: auto;
	color: #D6C84B;
	font-size: 12pt;
	margin-left: 10px;
	margin-bottom:10px;
}

.Description{
	color:#E1E9DC;
	font-size: 11pt;
	width: auto;
	margin-left:30px;
	margin-bottom: 50px;
}

.gwt-TextBox{
	height: 10px;
	width:80px;
	padding: 3px 5px;
	margin-left: 10px;
}

.unitLabel{
	width:auto;
}

.gwt-ListBox{
	margin-left: 10px;
}
.gwt-Button{
	width: 80px;
	height: 25px;
	border: 1px outset #CCCCCC;
	font-size:small;
	margin-left: 30px;
}

.main{
	width:1000px;
	margin: 0 auto;
}

.EnergyUseHorRes{
	width:470px;
	height: 250px;
	padding: 10px;
	margin: 10px;
	border: thin;
	border-style: solid;
	text-align: center;
	border-color: #E1E9DC;
	background-color: #26BCD5;
}

.EnergyUseHor{
	width:470px;
	height: 250px;
	padding: 10px;
	margin: 10px;
	border: thin;
	border-style: solid;
	border-color: #E1E9DC;
	text-align: center;
}

.ROITableHeader{
	background-color: #000000;
	color: #D6C84B;
	text-align: center;
}
.ROITable{
	
}




