/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.body{
}

.main{
	width:1000px;
	font-family: cursive;
	margin: 0 auto;
}

.banner{
	background-image: url("resources/images/banner2.png");
	background-repeat: no-repeat;
	padding: 10px;
	font-weight: bolder;
	font-size: 50pt;
}

.outputPanel{
	width:280;
	padding: 15px;
	margin-left:10px;
	margin-right:10px;
	border-bottom: thin;
	border-bottom-style: solid;
	
}

.gwt-TabBottom{
	height: 600px;
	color:red;
	padding: 10px;
}

.gwt-TabBarItem {
  height: 20px;
  cursor: pointer;
  margin-right: 2px;
}

.gwt-TabBarItem-selected {
  margin-right: 2px;
  width: 150px;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid;
}
.gwt-Label{
	height: 20px;
	width: 120px;
	margin-left: 10px;
	margin-bottom: 10px;
	font-family: century gothic;
	font-size: 10pt;
}

.gwt-HTML{
	font-family: century gothic;
}

.TitleLabel{
	height: 20px;
	width: auto;
	color: darkblue;
	font-size: 12pt;
	font-style:italic;
	font-family:times;
	margin-left: 10px;
	margin-bottom:10px;
	border-bottom: thin;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.Description{
	font-size: 11pt;
	width: auto;
	margin-left:30px;
	margin-bottom: 50px;
}

.gwt-TextBox{
	height: 10px;
	width:80px;
	padding: 3px 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.unitLabel{
	width:auto;
}

.gwt-ListBox{
	margin-left: 10px;
}
.gwt-Button{
	width: 80px;
	height: 30px;
	border: 1px outset #CCCCCC;
	font-size:small;
	margin-left: 10px;
	margin-bottom: 10px;
}

.ROITableHeader{
	font-family:century gothic;
	font-size: 10px;
}

.ROITableCell{
	width: 650/9px;
	font-family: century gothic;
	font-size: 10px;
	border-bottom: thin;
	border-bottom-style: solid;
}

.footer{
	width: 1000px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom:30px;
	padding: 10px;
	border-top:thin;
	border-top-style: solid;
	text-align: center;
}




